<section id="gradientSection" class="h-[50vh]" style="--gradient-color-progress:0;">
  <div class="flex flex-col items-center justify-center pt-16 align-middle">
    <div class="flex w-full flex-col items-center justify-center">
      <p id="introTextGradient" class="absolute text-center !font-sfdisplay text-sm font-semibold text-transparent sm:text-2xl md:text-left lg:text-4xl">Introducing <span id="introLogoGradient">Aurora.</span> <br /> The script that will revolutionize the scripting community.</p>
    </div>
  </div>
</section>

<style>
  #introTextGradient {
    --gradient-transparent-progress: calc(var(--gradient-color-progress) + var(--gradient-feather) * -1%);
    --gradient-feather: 60;
    --gradient-angle: 158deg;
    background-image: linear-gradient(var(--gradient-angle), #cecece var(--gradient-transparent-progress), #cecece00 var(--gradient-color-progress), #cecece00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #67b6ff00;
  }

  #introLogoGradient {
    --gradient-transparent-progress: calc(var(--gradient-color-progress) + var(--gradient-feather) * -1%);
    --gradient-feather: 60;
    --gradient-angle: 158deg;
    background: linear-gradient(var(--gradient-angle), #739fffc4 var(--gradient-transparent-progress), #cecece00 var(--gradient-color-progress), #cecece00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #67b6ff00;
  }
</style>
